.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600; 
}
.badge__small {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:75px;
    bottom:25px;

}
.exclamationmark{
    color: tomato;
    width: 15px;
    height: 15px;
    border: 2px solid tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650; 
    position: relative;
    top:12px;
    margin-left: 6px;
}